<!DOCTYPE html>
<head>
    <title>Jellybean Vending Machine</title>
</head>
<body>
<div class="content">
Hello
</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</html>