<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Abra Jellybean Vending Machine">
    <meta name="author" content="Elaine Ou">

    <title>Jellybean Proplet</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="css/custom.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="css/magnific-popup.css"> 
	
	<script src="js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">beans for bits</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Trust-Minimized Jellybean Management</h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="#buybeans" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Buy Some Beans</span></a>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">beans for bits</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is this?</a></li>
					<li class="menuItem"><a href="#buybeans">Buy Beans</a></li>
					<li class="menuItem"><a href="#contact">Delivery</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>What is this?</h2>
				<p class="lead"><span style="color:#381c66"><b>beans for bits</b></span> is a an ownership-aware device that controls real-world assets using digital protocols. It is a vending machine designed to act like a <a href="http://szabo.best.vwh.net/proplets.html">proplet</a>.
                </p>
				
			</div>
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                <img src="img/vending.jpg" style="width:inherit">
                </div>
            </div>
			<div class="row">
				<div class="col-sm-12 wow fadeInDown ">
				<p class="lead"><span style="color:#381c66"><b>beans for bits</b></span> is controlled by an Ethereum client. The control protocol is dynamic, so the vending machine can adjust to market demand. The contract governing the jellybean machine is publicly-viewable on the blockchain, allowing customers to verify the code.</p>
				</div>
			</div>
            <div class="row">
                <div class="col-sm-12 wow fadeInDown ">
                <h3>How do I get my beans?</h3>
                <p class="lead">Jellybeans are dispensed from the vending machine at <a href="https://www.goabra.com/">Abra's office</a> in Mountain View, California. <br>Non-employees are welcome to purchase beans to feed our engineers, like at the zoo.</p>
                <h4><a style="color:#381c66" href="http://www.elaineou.com">More info about the Jellybean machine...</a></h4>
                <center><img  class="rotate" src="img/jellybean.png" style="max-width:100px"></center>
                </div>
            </div>

		
		</div>
	</div>
	
	
	<div id="buybeans" class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center white">
				<h2>Buy some Beans</h2>
			 </div>
			 </div>
			 <div class="row">
			 <div class="bean-form">
				 <form>
                    <input type="hidden" id="bean-address">
					
					<input id="bean-count" type="number" onchange="updatePrice()" min="1" placeholder="number of beans" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();"/> x 10,000 Satoshis per bean = 
					<input id="bean-price" type="text" disabled/>
				</form>
			</div>
			<div id="qr-mock" class="mockup-content">
					<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
						<button type="button " id="bean-button"><span>Pay with Bitcoin</span></button>
						<div class="morph-content">
							<div>
								<div class="content-style-form content-style-form-4 ">
									<h2 class="morph-clone">Pay with Bitcoin</h2>
									<form>
									<div id="qrcode">Please enter a valid quantity.
<img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl='bitcoin:1ELaiNeQk4rpAL2dUYJ9MSm4dzwo7xG4E5?amount=10000">
                                    </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>	
	
	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Delivery</h2>
				<p class="lead" >...is not yet available. If you are not at the Mountain View office to accept your purchase, your beans will be delivered to the kitchen floor.</p>
				<img  class="rotate" src="img/jellybean.png" style="max-width:100px">
			</div>
			
			</div>
		</div>
	</div>
	
	
	
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            beans for bits is definitely not endorsed by <a href="http://goabra.com" target="_blank"><img src="img/abra.png"></a>
			<br>
          </div> <!-- /col-xs-7 -->
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/script.js"></script>
	<!-- StikyMenu -->
	<script src="js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="js/jquery.corner.js"></script> 
	<script src="js/wow.min.js"></script>
	
	  <script>
    $(document).ready(function() {
    $.ajax({
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        url: '/address',
        success: function(response) {
          console.log(response);
          $("#bean-address").val(response.address);
        }
    });
  });
    function updatePrice() {
        var qty = $("#bean-count").val();
        if (qty!="") $("#bean-button").prop("disabled", false);
        var price = qty / 10000;
        $("#bean-price").val(price + " BTC");

        var address = $("#bean-address").val();
          qty *= 10000;
          var price = $("#bean-price").val();
          var btcURL = "bitcoin:" + address + "?amount=" + qty + "&label=Jellybean";
          var btcHTML = '<p><a href="' + btcURL + '">Please send '+ price + ' to ' +address +'<\/a><br>Your beans will be dispensed as soon as payment is confirmed.<\/p><center><img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=' + btcURL + '"></center>';
          $('#qrcode').html(btcHTML);
    }
  </script>
	<script src="js/classie.js"></script>
	<script src="js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="js/jquery.magnific-popup.js"></script> 
</body>

</html>
