<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Jellybean Vending Machine">
    <meta name="author" content="Elaine Ou">

    <title>beans for bits</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="css/custom.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="css/magnific-popup.css"> 
	
	<script src="js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">beans for bits</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Trust-Minimized Jellybean Management</h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="#buybeans" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Buy Some Beans</span></a>
				</li>
        <li><a href="#viewdemo" class="btn  btn-lg mybutton_cyano wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">View Demo</span></a>
        </li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">beans for bits</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is this?</a></li>
					<li class="menuItem"><a href="#buybeans">Buy Beans</a></li>
					<li class="menuItem"><a href="#contact">Delivery</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>What is this?</h2>
				<p class="lead"><span style="color:#381c66"><b>beans for bits</b></span> is a an ownership-aware device that controls real-world assets using digital protocols. In other words, a vending machine.<br> It was inspired by the idea of <span style="color:#381c66"><b><a href="http://szabo.best.vwh.net/proplets.html">proplets</a></b></span>.
                </p>
				
			</div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <img src="img/vending.jpg" style="width:100%">
                </div>
            </div>
			<div class="row">
				<div class="col-sm-12 wow fadeInDown ">
				<p class="lead"><span style="color:#381c66"><b>beans for bits</b></span> is controlled by a lightning node. The control protocol is dynamic, so the vending machine can adjust to market demand. The contract governing the jellybean machine is publicly viewable on the blockchain, allowing customers to verify the code.</p>
				</div>
			</div>
            <div class="row">
                <div class="col-sm-12 wow fadeInDown ">
                <h3>How do I get my beans?</h3>
                <p class="lead">Jellybeans are dispensed from the vending machine at <a href="https://www.goabra.com/">Abra's office</a> in Mountain View, California. <br>Non-employees are welcome to purchase beans to feed the engineers, like at the zoo.</p>
                <h4><a style="color:#381c66" href="http://elaineou.com/2016/02/11/trust-minimized-property-control-with-jellybeans-and-ethereum/">Instructions on how to build your own Lightning-powered vending machine...</a></h4>
                <center><img  class="rotate" src="img/jellybean.png" style="max-width:100px"></center>
                </div>
            </div>

		
		</div>
	</div>
	
	
	<div id="buybeans" class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center white">
				<h2>Buy some Beans</h2>
			 </div>
			 </div>
			 <div class="row">
			 <div class="bean-form">
				 <form>
          <input id="bean-rhash" type="hidden">
					<input id="bean-count" type="number" onchange="updatePrice()" min="1" placeholder="number of beans" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();"/> x 50,000 Satoshis per bean = 
					<input id="bean-price" type="text" disabled/>
				</form>
			</div>
			<div id="qr-mock" class="mockup-content">
					<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
						<button type="button " id="bean-button"><span>Pay with Lightning</span></button>
						<div class="morph-content">
							<div>
								<div class="content-style-form content-style-form-4 ">
									<h2 class="morph-clone">Pay with Lightning</h2>
									<form>
                      <div id="bean-total">1 BTC<br></div>
                      <div id="qrcode" ><img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chld=M|0&chl='bitcoin:1ELaiNeQk4rpAL2dUYJ9MSm4dzwo7xG4E5?amount=10000"></div>
                      <code id="payreq" ></code>
                      <a id="bean-checkout" class="btn btn-info">Pay with Lightning</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>	
	
	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Delivery</h2>
				<p class="lead" >...is not yet available. If you are not at the Mountain View office to accept your purchase, your beans will be delivered to the kitchen floor.</p>
				<img  class="rotate" src="img/jellybean.png" style="max-width:100px">
			</div>
			
			</div>
		</div>
	</div>
    <div id="viewdemo" class="content-section-b">
        <div class="container">
            <div class="row">
            
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>View Demo</h2>
                <p class="lead" >This is some stuff for testing our payment API. If you don't work for Abra, please go away.</p>
            </div>            
            </div>
              
            </div>
        </div>
    </div>
	
	
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            beans for bits was created by the slackers at <a href="https://globalfinancialaccess.com" _target="_blank"><img src="img/gfa.png"></a>
			<br>
          </div> <!-- /col-xs-7 -->
        </div>
      </div>
    </footer>

    <div id="confirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <center><img  class="rotate" src="img/jellybean.png" style="max-width:60px"><br>
                  <h4>Payment Received!</h4></center>
            </div>
            <div class="modal-body">
              <p>
                <b>Date: </b> <span style="margin-left:5em" id="confDate"></span><br>
                <b>Order Summary: </b> <span id="confOrder"></span><br>
                <b>Total: </b> <span style="margin-left:5em" id="confPrice"></span> satoshis
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Hooray</button>
            </div>
          </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/script.js"></script>
	<!-- StikyMenu -->
	<script src="js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="js/jquery.corner.js"></script> 
	<script src="js/wow.min.js"></script>
	
	<script>
    var BEAN_PRICE = 50000;

    $(document).ready(function() {
      $("#bean-button").prop("disabled", true);
    });
    function updatePrice() {
        var qty = $("#bean-count").val();
        if (qty!="") $("#bean-button").prop("disabled", false);
        var price = qty / 2000;
        $("#bean-price").val(price + " BTC");

        var address = $("#bean-address").val();
          qty = price * 100000000;
          var price = $("#bean-price").val();
          var btcHTML = '<p>'+ price + '<br>Your beans will be dispensed as soon as payment is confirmed.<\/p>';
          $('#bean-total').html(btcHTML);
    }

    $("#bean-button").click(function(e) {
        e.preventDefault();
        var qty = $("#bean-count").val();
        var price = qty * BEAN_PRICE;
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({'qty': qty, 'price': price}),
            url: '/invoice',
            success: function(response) {
              console.log(response);
              $("#payreq").text(response.invoice);
              var lntb = "lightning:" + response.invoice;
              var lnHTML = '<center><img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chld=M|0&chl=' + lntb + '"></center>';
              $('#qrcode').html(lnHTML);
              $('#bean-checkout').attr('href', lntb);
              var lnSocket = new WebSocket("ws://localhost:8080/lnsocket?r_hash=" + 
                encodeURIComponent(response.r_hash));
              $('#bean-rhash').val(response.r_hash);
              lnSocket.onmessage = function (event) {
                console.log(event.data);
                var data = JSON.parse(event.data);
                if (data.settle_date) {
                  $("span#confPrice").html(data.value);
                  $("span#confOrder").html(data.memo);
                  $("span#confDate").html(new Date(data.settle_date*1000));
                  $("#confirmModal").modal("show");
                  $('#bean-total').html("Payment Received!");
                }
              }
            }
        });
    })
  </script>
	<script src="js/classie.js"></script>
	<script src="js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="js/jquery.magnific-popup.js"></script> 
</body>

</html>
